{% extends "customer/master.html" %}
{% load static %}
{% block content %}

    <div class="container mt-4">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <form method="POST">
          {% csrf_token %}
            <img src="{{ details.image.url }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title fs-4 fw-bold text-warning text-uppercase">{{ details.product_name }}</h5>
              <p class="card-text">{{ details.product_discription }}</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <span class="text-dark fs-5"><i class="fa-solid fa-indian-rupee-sign"></i>{{ details.price }}</span> <br>
              <div class="card-footer">
              <button class="btn btn-outline-danger" type="submit">add to cart</button>
              <button class="btn btn-outline-primary" type="submit">Buy now</button> <br>{{ message }}
            </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}