{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vishnuchengot</title>
  <link rel="stylesheet" href="{% static 'style/mystyle.css' %}">
  <link rel="icon" href="{% static 'favicon/favicon.ico' %}">
  <link href="https://fonts.googleapis.com/css2?family=Merienda+One&family=Roboto&display=swap" rel="stylesheet">
  
  
</head>
<body>
  <div class="top-container">
    <div class="navbar">
      <img class="github-img" src="{% static 'images/github.png' %}" alt=""> <a class="github-link" href="">GIT HUB</a>
     <img class="call" src="{% static 'images/call.png' %}" alt=""> <h2 class="number">+91 9072879546</h2>
    </div>
    <img class="bulb"  src="{% static 'images/lightbulb.png' %}" alt=" circuit image">
    <img class="pcb-board"  src="{% static 'images/electrical-circuit.png' %}" alt=" circuit image">
    <h1 class="main-name">Vishnu_chengot</h1>
    <h3 class="main-discription"> a web developer</h3>
  <img class="circuit"  src="{% static 'images/bio-sensor.png' %}" alt=" circuit image">
  </div>
  <div class="middle-background">
   <div class="middle-container">
    <img class="my-profile" src="{% static 'images/myimage.jpg' %}" alt="">
    <h2 class="heading">Hello..</h2>
    <p>A Web Developer who creates Responsive Websites and Web applications.I <span>&#10084;</span> biryani.</p>
    
  </div>
     <br><hr>
    <div class="skill-row">
    <h2 class="heading">MY SKILLS</h2> <BR></BR>
    <span class="sub-heading">DESIGN AND DEVELOPMENT</span>
    <img class="web-development-img" src="{% static 'images/web-development.png' %}" alt="">
    <p> I Started learning to code recently becacuse of my long term interest.Overtime I have gained some experience
    in designing and developing web sites and web applications.
    </p>
    </div>
    <div class="skill-row">
    <img class="bio-sensor-img" src="{% static 'images/bio-sensor.png' %}" alt="">
    <span class="sub-heading">ELECTRONICS HOBBYIST</span>
    <p> Some Good Sound in development of Electronic hobby circuits.Building hobby circuit is more fun to learn the technology. </p>
    
  </div>
  <hr>
  </div>
</body>
</html>